.home-content{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 895px;
}

/* .szio{
    display: flex;
    flex-direction: column;
} */

.rozsaszin_sav{
    background-color: #B2739D;
    position: absolute;
    width: 1199px;
    height: 242px;
    left: 0;
    bottom: 30%;
    opacity: 56%;
    color: #FFFFFF;
}