---
import Layout from "../layouts/Layout.astro";
import "../styles/home.css";
import { Image } from "astro:assets";
import image3 from "../assets/image3.png";
---

<Layout>
  <section class="home">
    <div class="szio">
      <h1>Szió</h1>
      <div class="home-content">
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
            amet, et minima ab eligendi, deleniti laborum eos ut corrupti
            tenetur cupiditate nobis animi quisquam atque dolores maxime nihil
            quibusdam ratione! Dicta quibusdam sequi ipsum tenetur ab,
            doloremque, dolores nisi adipisci odit optio odio eaque accusamus
            facilis, explicabo itaque amet error magnam et veritatis libero.
            Maxime delectus reiciendis sapiente iure recusandae! Officia omnis
            cupiditate natus quod, mollitia veritatis molestias dolores minima
            eum, iure repellendus dolorem dolorum, culpa porro? Odit accusantium
            dicta beatae voluptates optio, labore consequuntur repudiandae ex,
            quo, esse nam! Temporibus cum quibusdam similique natus, assumenda
            nulla, aliquid soluta delectus deserunt nihil itaque. Culpa a
            mollitia eos magnam temporibus iusto repellendus hic voluptatum
            labore architecto eius, officia fugit accusamus voluptatem? Odit
            quidem ex perferendis
          </p>
        </div>
        <div>
          <Image
            loading={"eager"}
            class="kurby"
            src={image3}
            alt="Kurby egy késsel"
          />
        </div>
      </div>
    </div>
    <div>
      <h2 class="rozsaszin_sav">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
        magnam praesentium doloremque adipisci incidunt asperiores dolores
        minima, dolorem esse excepturi modi eveniet nemo ratione, fuga iusto
        eaque possimus iste placeat!
      </h2>
    </div>
  </section>
</Layout>
