---
import Layout from "../layouts/Layout.astro";
import "../styles/home.css";
---

<Layout>
  <section class="home">
    <div class="home-content">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
          amet, et minima ab eligendi, deleniti laborum eos ut corrupti tenetur
          cupiditate nobis animi quisquam atque dolores maxime nihil quibusdam
          ratione! Dicta quibusdam sequi ipsum tenetur ab, doloremque, dolores
          nisi adipisci odit optio odio eaque accusamus facilis, explicabo
          itaque amet error magnam et veritatis libero. Maxime delectus
          reiciendis sapiente iure recusandae! Officia omnis cupiditate natus
          quod, mollitia veritatis molestias dolores minima eum, iure
          repellendus dolorem dolorum, culpa porro? Odit accusantium dicta
          beatae voluptates optio, labore consequuntur repudiandae ex, quo, esse
          nam! Temporibus cum quibusdam similique natus, assumenda nulla,
          aliquid soluta delectus deserunt nihil itaque. Culpa a mollitia eos
          magnam temporibus iusto repellendus hic voluptatum labore architecto
          eius, officia fugit accusamus voluptatem? Odit quidem ex perferendis
          nemo, ad fugit laboriosam est officiis excepturi nobis facilis, illum
          deleniti necessitatibus ab quia libero dolorum at! Culpa porro
          repellendus incidunt, aliquid numquam minus vero. Cumque. Quae fugiat
          laboriosam reprehenderit minus, eligendi eaque, libero nam
          exercitationem earum amet eveniet rerum dolores, at officia nesciunt
          nobis autem sequi excepturi porro. Unde laboriosam inventore mollitia
          incidunt nisi sapiente. Sapiente ab fugiat aliquam ipsam minima sequi
          libero vel sint, perferendis distinctio voluptatibus vero praesentium
          corrupti eum recusandae velit ducimus porro inventore deserunt nulla
          aperiam temporibus deleniti reiciendis repellat? Molestias! Saepe
          facilis illo esse modi animi at dignissimos doloremque illum provident
          suscipit ab nobis alias vero nulla architecto omnis ut, sunt beatae!
          Ut reprehenderit, tempora necessitatibus ipsum asperiores nostrum
          quibusdam. Mollitia explicabo sed quisquam? Quis pariatur rem adipisci
          ratione tempora cupiditate quisquam sit dolore minima neque ducimus
          aut vero omnis labore laboriosam amet perspiciatis, hic fugit nisi.
          Doloribus, minus rerum. Nam sequi minima earum! Odio unde sapiente,
          pariatur magnam harum atque possimus voluptas obcaecati esse culpa
          explicabo accusantium officiis. Totam impedit fugit maiores ad sit
          labore quae aliquid. Inventore, iste. Unde fuga odio dignissimos
          pariatur consequatur reprehenderit commodi rem dolorem necessitatibus
          ut enim corrupti nam molestias cupiditate, iusto molestiae! Assumenda
          tenetur doloribus blanditiis iste iusto labore exercitationem nam hic
          nisi. Eius, eligendi facilis. Harum unde asperiores beatae voluptatem
          libero quis qui molestias quam rem consectetur perferendis, esse
          repudiandae incidunt tenetur ipsa facilis iusto ipsum. Quaerat error
          dolore tempora architecto eos? Dicta
        </p>
      </div>
      <div>
        <p>
          recusandae omnis sed quidem error corporis ut consequuntur aliquid
          magnam! Delectus tempora, quas eum, et rem itaque id qui dolore
          laboriosam ipsum minus neque nisi dignissimos ut necessitatibus. Iste
          ab quae voluptate dolore qui accusamus nisi corrupti ipsam a nostrum
          mollitia, natus amet aspernatur sed itaque ad possimus, veniam, vel
          blanditiis pariatur minima? Totam quaerat aliquid ad at. Officiis,
          reprehenderit nulla molestias magnam beatae obcaecati repellendus est.
          Reiciendis deleniti reprehenderit nemo provident ducimus aut expedita
          quas nisi consequatur optio exercitationem neque fugiat aliquid velit,
          cupiditate quam porro perspiciatis? Alias soluta porro quis fuga ex
          molestiae. Ducimus repellat fugiat quibusdam ullam laudantium dolores,
          minima earum maxime vitae sequi. Pariatur id architecto consequatur
          distinctio modi deleniti laudantium maiores. Nisi, dignissimos. Eius
          quasi sequi ducimus eligendi aut consequatur modi rerum repellendus at
          fugit, est libero adipisci nam eveniet molestias, ipsa, sint beatae
          debitis. Consequuntur sit dicta vel iste voluptatem inventore debitis.
          Minus maiores commodi ea, rem nobis animi ullam est, repellat vel nam
          officiis id saepe impedit quibusdam deserunt, officia sit in! Quod,
          impedit quis. Reiciendis necessitatibus a maiores odio recusandae. Est
          eius fugit officiis iure voluptatum voluptas mollitia velit debitis
          placeat optio itaque necessitatibus deserunt ipsa minus earum esse ea
          neque maiores, ad corporis cupiditate distinctio? Pariatur
          voluptatibus soluta dolorem. Nostrum at perferendis ea dignissimos
          magnam? Quae commodi necessitatibus consequatur voluptatibus in sunt
          nesciunt repudiandae soluta modi rerum, possimus harum nulla,
          perspiciatis illum ipsa? Placeat neque id incidunt dicta optio.
        </p>
      </div>
    </div>
  </section>
</Layout>
