---
import "../styles/nav.css";
---

<header>
  <div class="menu">
    <div>
      <h1 class="keresztnev nevjegy">Petra</h1>
      <h1 class="vezeteknev nevjegy">Harhály</h1><br />
      <h2 class="prof nevjegy">Graphic & UI/UX designer</h2>
    </div>
    <nav>
      <ul>
        <li class="menu-items"><a href="/Home">Home</a></li>
        <li class="menu-items"><a href="/Portfolio">Portfolió</a></li>
        <li class="menu-items"><a href="/Contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
