---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Image } from "astro:assets";
import background from "../assets/hatter.png";
---

<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="image" href="/petra_portfolio/hatter.webp" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gochi+Hand&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Barta Petra portfolió</title>
  </head>
  <!-- <body style={`background-image: url(${background.src})`}> -->
  <body>
    <ClientRouter />
    <Nav />
    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/petra_portfolio/hatter.webp");
  }
  .bg-layer {
    inset: 0;
    z-index: -10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
